a {
    text-decoration: none;
    color: rgb(235, 235, 235);
}
nav {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: #3c3c3c;
    box-shadow: 0 0 10px #060505;
    z-index: 999;
    padding: 0 20px;
}
nav a.brand {
    font-family: 'Oswald', sans-serif;
    float: left;
    line-height: 40px;
}
nav ul.menu{
    float: right;
    list-style: none;
    margin: 0;
}
nav ul.menu li.item {
    display: inline-block;
    color: rgb(235, 235, 235);
    margin: 0 10px;
    cursor: pointer;
}
nav .profile img {
    height: 30px;
    border-radius: 6px;
    margin: 5px 5px 5px 20px;
}
nav span {
    vertical-align: 70%;
}
.explorer {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    display: inline-block;
    width: 20%;
    background-color: #252526;
    z-index: 999;
    color: rgb(199, 199, 199);
}
.explorer > .header {
    padding: 20px;

}
.explorer ul.files,
.explorer ul.sub-files{
    margin: 0;
    padding: 0;
    list-style: none;
}
.explorer ul.files li {
    line-height: 30px;
}
.explorer ul.files li.header {
    background-color: #3c3c3c;
    padding: 0 20px;
    font-weight: 800;

}
.explorer ul.files li.item {
    padding: 0 20px;
    cursor: pointer;
}
.explorer ul.files li.item:hover {
    background-color: rgb(46, 45, 45);
}
.explorer ul.files li.item.active {
    background-color: rgb(70, 70, 70);
}
.explorer ul.files li.item .new-file {
    background-color: #5c5c5cbb;
    color: white;
    border: 1px solid rgba(15, 15, 136, 0.473);
    font-weight: 600;
    padding: 5px;
    width: 70%;
}
.explorer ul.files li.item .new-file:focus {
    outline: none;
}
.explorer .new-items {
    float: right;
}
.explorer .new-items i {
    margin: 0 3px;
    cursor: pointer;
}
.explorer .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 0.8rem;
}
.explorer .footer .contributors {
    width: 100%;
    height: 40px;
    background-color: rgb(75, 74, 74);
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
}
.explorer .footer .contributors img {
    width: 20px;
    border-radius: 3px;
    cursor: pointer;
}
.explorer .footer .contributors i {
    font-size: 1.3rem;
    cursor: pointer;
}
.editor {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 30%;
    display: inline-block;
    width: 80%;
    background-color: #151515;
}
.console {
    position: absolute;
    top: 70%;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 80%;
    background-color: #151515;
    border-top: 1px solid rgb(57, 57, 57);
}
.console .header ul.menu{
    list-style: none;
    color: rgb(171, 171, 171);
    margin: 0;
    padding: 20px 20px 0 20px;
}
.console .body {
    color: rgb(171, 171, 171);
    padding: 20px;
}
.console .body .chat,
.console .body .terminal {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    font-size: 15px;
    overflow: scroll;
    height: 15vh;
}

.console .body .terminal input{
    background-color: #151515;
    width: 70%;
    border: none;
    padding: 0 5px;
    color: rgb(171, 171, 171);
    font-size: 15px;
}
.console .body .terminal pre {
    margin-top: 0;
    margin-bottom: 5px;
}
.console .body .terminal input:focus {
    outline: none;
}
.console .header ul.menu li.item{
    display: inline-block;
    padding-bottom: 10px;
    margin: 0 10px;
    cursor: pointer;
}
.CodeMirror {
    height: auto;
}
.CodeMirror-scroll {
    height: 62vh;
}
.console .header ul.menu li.item.active {
    color: rgb(206, 206, 206);
    border-bottom: 2px solid rgb(181, 181, 181);
}
