hr {
    width: 30px;
    margin: 20px auto;
    border: 2px solid rgb(248, 107, 107); 
}
header {
    background-image: url('../assets/header_bg.png');
    background-position: center;
    text-align: center;
    padding: 100px 20px;
    color: #fff;
    height: 400px;
    box-sizing: border-box;
}
header h1 {
    line-height: 80px;
    font-size: 3rem;
    opacity: 0.9;
}
header p {
    opacity: 0.8;
}
header .btn-group {
    margin: 50px 0;
}
header button {
    width: 200px;
    height: 40px;
    font-size: 1rem;
    border: none;
    margin: 0 20px;
    font-weight: 600;
    background-color: rgb(220, 101, 101);
    border-radius: 3px;
    color: #fff;
    box-shadow: 0 0 10px rgb(106, 106, 106);
    cursor: pointer;
}
header button:active {
    background-color: rgb(218, 84, 84);
}
header button:focus {
    outline: none;
}
.gray {
    background-color: gray;
}
.gray:active {
    background-color: rgb(129, 118, 118);
}
article {
    padding: 20px;
}
article section {
    padding: 10px;
}
article section#introduce {
    text-align: center;
}
article section#language {
    text-align: center;
}
article section#introduce > i {
    font-size: 3rem;
}
article section#introduce h1 {
    line-height: 50px;
}
article section#language h1 {
    line-height: 50px;
}
article section#language ul.languages {
    padding: 20px 0;
    list-style: none;
}
article section#language ul.languages li.item {
    display: inline-block;
    padding: 0 20px;
}
span.icon {
    font-weight: 800;
    font-size: 2rem;
}
article section#language .sub-contents {
    font-size: 0.8rem;
    color: gray;
    cursor: pointer;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 800;
    padding: 20px 0;
}
footer a.github {
    color: black;
    text-decoration: none;
}